* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type:none ;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 12px;
    padding-left: 12px;
}



.background {
    background-image: url("../image/project3.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    opacity: 0.7;
    
}

.d-flex{
    display: flex;
    justify-content: space-between;
}
.row{
    color: white;
    margin-top: 10px;
}
.gap{
    gap: 40px; 
}
#button{
    padding: 7px 18px;
    background-color: aqua;
    border-radius: 15px;
}
.h1{
    color: white;
    text-align: center;
    margin-top: 167px;
}
.h2{
    margin-top: 20px;
    text-align: center;
    color: white;
    
}

.icon{
    position: absolute;
    margin-top: 50px;
    margin-left: 553px;
    padding: 20px;
    border-radius: 100px;
    
    background-color: rgba(234, 50, 35, 1);
    ;
}
.p{
    font-size:x-large;
    max-width: 500px;
    color: white;
    margin-left:350px ;
    margin-top: 180px;
}
